<div class="wifistatus-bar">
  <!--ko foreach: strengthLevels -->
    <div
      class="block"
      data-bind="style: {
        backgroundColor: color,
        width: rangePercent + '%'
      }"></div>
  <!-- /ko -->
  <div class="indicator-arrow" data-bind="style: { left: strengthPercentage() + '%'}"></div>
</div>