<a href="javascript:void(0)" id= "navbar_plugin_wifistatus_link" class="dropdown-toggle" data-toggle="dropdown">
  <svg id="navbar_plugin_wifistatus_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-bind="html: IconSVG"></svg>
  <b class="caret"></b>
</a>
<ul class="dropdown-menu">
  <li id="navbar_plugin_wifistatus-bar">
    <!--ko foreach: strengthLevels -->
      <div
        class="block"
        data-bind="style: {
          backgroundColor: color,
          width: rangePercent + '%'
        }"></div>
    <!-- /ko -->
    <div class="indicator-arrow" data-bind="style: { left: strengthPercentage() + '%'}"></div>
  </li>
  <!-- ko foreach: wifiData -->
    <li data-bind="if: visible">
      <a data-bind="text: `${name}: ${value}`"></a>
    </li>
  <!-- /ko -->
  <li>
    <a data-bind="click: openSettings">
      Details
    </a>
  </li>
</ul>
